{#

 This file is part of the RPSCommentBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'BrotherQuestBundle:Frontend:layout.html.twig' %}

{% block content_navbar %}
    {{  parent() }}
    <li>
        <a href="#guestbookForm">
            <i class="glyphicon glyphicon-plus-sign"></i>  {{ 'link.sign_guestbook'|trans({}, 'BrotherQuestBundle') }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="brother-quest-container">
        <div class="brother-quest-panel-container">
            {% if entries|length > 0 %}
				{% for entry in entries %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="brother-quest-author">{{ entry.name }}</span>
								<span class="brother-quest-date">
									{{ entry.createdAt is empty ? '' :  entry.createdAt|date(date_format) }}
								</span>
							</h3>
						</div>
						<div class="panel-body">
							{{ entry.comment|nl2br }}
						</div>
					</div><!-- /panel -->
				{% endfor %}
            {% endif %}
        </div><!-- /brother-quest-panel-container -->

        {{ pagination_html }}

    </div><!-- /brother-quest-container -->

    <div id="guestbookForm">
        <div class="page-header">
            <h2>{{ 'title.sign_guestbook'|trans({}, 'BrotherQuestBundle') }}</h2>
        </div>

        {{ include('BrotherQuestBundle:Frontend:form.html.twig',{ 'form': form })}}
    </div>
{% endblock %}

