{#

 This file is part of the BrotherQuestBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'BrotherQuestBundle:Admin:layout.html.twig' %}

{% block content_navbar %}
    {{  parent() }}
    <li>
        <a href="#" onclick="publishEntries()">
            <i class="glyphicon glyphicon-ok-sign"></i> {{ 'link.publish'|trans({}, 'BrotherQuestBundle') }}
        </a>
    </li>
    <li>
        <a href="#" onclick="unpublishEntries()">
            <i class="glyphicon glyphicon-minus-sign"></i> {{ 'link.unpublish'|trans({}, 'BrotherQuestBundle') }}
        </a>
    </li>
    <li>
        <a href="#" onclick="deleteEntries()">
            <i class="glyphicon glyphicon-trash"></i> {{ 'link.delete'|trans({}, 'BrotherQuestBundle') }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="brother-quest-container">
        <div class="rps-gustbook-list">
            {% if entries|length > 0 %}
                <form method="post" action={{ path( 'brother_quest_admin') }} id="rpsGuestbookAdminList" class="brother-quest-admin-list">
                    <table class="table table-striped">
                        <thead>
                            <th width="5px">#</th>
                            <th width="5px">
                                <input id="rpsGuestbookMasterSelect" type="checkbox">
                            </th>
                            <th></th>
                            <th>{{ 'title.comment'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th class="hidden-xs">{{ 'title.updated'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th>{{ 'title.state'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th class="hidden-xs">{{ 'title.replied'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th class="hidden-xs">{{ 'title.edit'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th class="hidden-xs">{{ 'title.reply'|trans({}, 'BrotherQuestBundle') }}</th>
                            <th class="visible-xs">{{ 'title.action'|trans({}, 'BrotherQuestBundle') }}</th>
                        </thead>
                        <tbody>
                        {# ---- text variables ---- #}
                        {% set never_text = 'never'|trans({}, 'BrotherQuestBundle') %}
                        {% set publish_text = 'link.publish'|trans({}, 'BrotherQuestBundle') %}
                        {% set unpublish_text = 'link.unpublish'|trans({}, 'BrotherQuestBundle') %}
                        {% set edit_text = 'link.edit'|trans({}, 'BrotherQuestBundle') %}
                        {% set delete_text = 'link.delete'|trans({}, 'BrotherQuestBundle') %}
                        {% set reply_text = 'link.reply'|trans({}, 'BrotherQuestBundle') %}

                        {% for entry in entries %}
                            {% if( entry.state == 0) %}
                                {% set state_class, toggle_class, toggle_state, toggle_text = 'ban-circle', 'ok-circle', 1, publish_text %}
                            {% else %}
                                {% set state_class, toggle_class, toggle_state, toggle_text = 'ok-circle', 'ban-circle', 0, unpublish_text %}
                            {% endif %}

                            {# ---- entry links ---- #}
                            {% set entry_id = entry.id %}
                            {% set edit_link = path( 'brother_quest_edit', {'id': entry_id}) %}
                            {% set remove_link = path( 'brother_quest_remove', {'id': entry_id}) %}
                            {% set reply_link = path( 'brother_quest_reply', {'id': entry_id}) %}
                            {% set change_state_link = path( 'brother_quest_change_state', {'ids': entry_id, 'state':toggle_state}) %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="align-center">
                                    <input type="checkbox" class="brother-quest-checkbox-list" name="ids[]" value="{{ entry_id }}">
                                </td>
                                <td>
                                    {{ entry.name }}
                                    <br>
                                    {{ entry.email }}
                                    <br>
                                    {{ entry.createdAt is empty ? "" : entry.createdAt|date(date_format) }}
                                </td>
                                <td>
                                    {{ entry.comment|nl2br }}
                                </td>

                                <td class="hidden-xs">
                                    {{ entry.updatedAt is empty ? never_text : entry.updatedAt|date(date_format, false) }}
                                </td>

                                <td>
                                    <a href="{{ change_state_link }}">
                                        <i class="glyphicon glyphicon-{{ state_class }}" data-toggle="tooltip" title="{{ toggle_text }}"></i>
                                    </a>
                                </td>
                                <td class="hidden-xs">
                                    <span>
                                        <i class="glyphicon glyphicon-{{ entry.replied == 0 ? "ban-circle" : "ok-circle" }}" ></i>
                                    </span>
                                </td>
                                <td class="hidden-xs">
                                    <a href="{{ edit_link }}">
                                        <i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="{{ edit_text }}"></i>
                                    </a>
                                </td>
                                <td class="hidden-xs">
                                    <a href="{{ reply_link }}">
                                        <i class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="{{ reply_text }}"></i>
                                    </a>
                                </td>

                                <td class="visible-xs"> <!-- action buttons for small devices only-->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ edit_link }}">
                                                    <i class="glyphicon glyphicon-edit"></i> {{ edit_text }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ change_state_link }}">
                                                    <i class="glyphicon glyphicon-{{ toggle_class }}"></i> {{ toggle_text }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ reply_link }}">
                                                    <i class="glyphicon glyphicon-envelope"></i> {{ reply_text }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ remove_link }}" onclick="if(!removeEntry()){return false;}">
                                                    <i class="glyphicon glyphicon-trash"></i> {{ delete_text }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </form>
            {% endif %}
        </div><!-- /brother-quest-list -->

        <div class="rps-pager">
            {{ pagination_html|raw }}
        </div>

    </div><!-- /brother-quest-container -->

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
function removeEntry()
{
    return confirm("{{ 'confirm_entry_remove'|trans({}, 'BrotherQuestBundle') }}");
}

function deleteEntries()
{
    if ( checkEntrySelected()) {
        alert("{{ 'flash.select_error.delete'|trans({}, 'BrotherQuestBundle') }}");
        return;
    }

    if (confirm("{{ 'confirm_entries_delete'|trans({}, 'BrotherQuestBundle') }}")) {
        submitAdminForm('{{ path('brother_quest_delete') }}');
    }
}

function submitAdminForm(url)
{
    var questForm = jQuery('#rpsGuestbookAdminList');
    questForm.attr("action", url);
    questForm.submit();
}

function checkEntrySelected()
{
    return jQuery('.brother-quest-checkbox-list:checkbox:checked').length == 0;
}

function publishEntries()
{
	if ( checkEntrySelected()) {
		alert("{{ 'flash.select_error.publish'|trans({}, 'BrotherQuestBundle') }}");
		return;
	}
    submitAdminForm('{{ path('brother_quest_publish') }}');
}

function unpublishEntries()
{
	if ( checkEntrySelected() ) {
		alert("{{ 'flash.select_error.unpublish'|trans({}, 'BrotherQuestBundle') }}");
		return;
	}
	submitAdminForm('{{ path("brother_quest_unpublish") }}');
}

(function($){
    $(function() {
        $('#rpsGuestbookMasterSelect').change(function(){
            $('.brother-quest-checkbox-list').prop('checked', $(this).prop('checked'));
        });
    });

    $("[data-toggle=tooltip]").tooltip({ placement: 'top'});
}(jQuery));
</script>
{% endblock %}
