<!-- Modal -->
<div class="modal fade" id="quest_new_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form, {'action': path('brother_quest_create_ajax'), 'method': 'POST', 'attr': {
            'onSubmit': 'bindingsUtil.formSubmit(this);return false;',
            'class': 'form-horizontal brother-quest-form', 'role': 'form'
            } }) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Задать вопрос</h4>
            </div>
            <div class="modal-body">
                <div class="form-error">{{ form_errors(form.name) }}</div>
                {{ form_row(form.name) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.q) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-success' } }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

