<div class="brother-quest-container">
    <div class="brother-quest-panel-container">
        <h1>Вопросы</h1>
        {% if entries|length > 0 %}
            {% for entry in entries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ entry.q }}
                            <span class="brother-quest-date">
									{{ entry.createdAt is empty ? '' :  entry.createdAt|date(date_format) }}
							</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ entry.a|nl2br }}
                    </div>
                </div><!-- /panel -->
            {% endfor %}
        {% endif %}

        <a class="btn btn-success"
           onclick="bindingsUtil.sendPost('{{ path('brother_quest_new_dialog') }}');"
                >Задать вопрос</a>
    </div>
    {{ pagination_html }}
</div>

